<div class="container" ><table class="table table-striped" style='width: 100%;'>
<tr>
<th>Location</th>
     <th>Profile Image</th>
    <th>Number of Followers</th>
    <th>Num of Status </th>
    <th> Tweet Text</th>
     <th>Lattitude</th>
    <th> Longitude</th>
     <th> Source</th>
     <th> Retweet_count</th></tr>
<% for tweet in @tweets %>
<tr>
<td class="text-primary">    <%=tweet.location%></td>
<td> <img   class="img-circle"src=<%=tweet.profile_pic%>/> </td>
  <td> <%=tweet.friends_count%></td>
  <td>  <%=tweet.status_count%></td>
  <td>    <%=tweet.tweet_text%></td>
  <td>  <%=tweet.lattitude%></td>
    <td>  <%=tweet.longitude%></td>
     <td>  <%=tweet.source%></td>
     <td>  <%=tweet.retweet_count%></td></tr>
     <% end %>
</table>


<table class="table table-striped" style='width: 100%; display:none;' id="tweetstable" >
<tr><th>Picture</th>
    <th>infowindow</th>
     <th>lat</th>
    <th>lng</th></tr>
<% for tweet in @tweets %>
<tr>
<td> <%=tweet.profile_pic%> </td>
  <td> <img src="<%=tweet.profile_pic%>" class="img-circle"/><%=tweet.tweet_text%></b> <i>Location : <%=tweet.location%></i></td>
  <td>  <%=tweet.lattitude%></td>
    <td>  <%=tweet.longitude%></td>
     <% end %>
</table>
</div>


  