<!DOCTYPE html>
<html>
  <head>
    <title>TweetGeek</title>
     <!-- Bootstrap -->
    <%= javascript_include_tag "jquery-1.11.0.min.js", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "bootstrap.min.css", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "bootstrap.min.js", "data-turbolinks-track" => true %>
     <%= javascript_include_tag "application" %>
    <%= yield :scripts%>
    <%= csrf_meta_tags %>

  </head>
  <body>
 <!-- <div style="position: fixed; z-index: -99; width: 100%; height: 100%">
  <iframe frameborder="0" height="100%" width="100%" 
    src="https://www.youtube.com/embed/DSLgAsrcpGQ?autoplay=1&controls=1&loop=1&rel=0&showinfo=0&autohide=1&wmode=transparent&hd=1">
  </iframe>
</div>-->
   <div>
  <div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">TweetGeek</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><a href="http://localhost:3000">Home</a></li>
      <li><a href="/about_us">About Us!</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">What to do!</a></li>
          <li><a href="#">How to do!</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Relation</li>
          <li><a href="#">What can you achieve</a></li>
          <li><a href="#">Wanna Try</a></li>
        </ul>
      </li>
    </ul>
    
     
    <ul class="nav navbar-nav navbar-right">
    <% if current_user %>
        <li>Signed in as <span class="label label-success"><%= current_user.name %></span></li>
        <li>
       <a href="/signout">Sign Out</a></li>
      <% else %>
       
       <a href="/auth/twitter"> <%= image_tag "sign-in-with-twitter.png" %></a> 
      <% end %>
           <li><a href="/twittertweets/index">Search DB</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
  </div>   
</div>

<% if flash[:notice] %>
<div id="container">
    <div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <%= flash[:notice] %>.
</div> </div>
  <% end %>
    <%= yield %>
   
  </body>
</html>